<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFWA Sacco SMS | Register</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <main class="main-container">

        <!-- logo and sacco name -->
        <section class="logo-sacco-name-container-left">
            <div class="logo-container">
                <img src="../images/logo.png" alt="">
            </div>
            <div class="sacco-name-container">
                <h2>United Freedom Workers' Association</h2>
            </div>
        </section>

        <!-- registration form -->
        <section class="registration-form-container-right">
            <form action="">
                <h2>Register</h2>
                <label for="">
                    <span>Full Name</span>
                    <input type="text" name="" placeholder="Name" id="">
                </label>
                <label for="">
                    <span>Mobile Number</span>
                    <input type="text" name="" placeholder="Mobile" id="">
                </label>
                <label for="">
                    <span>Password</span>
                    <input type="text" name="" placeholder="Password" id="">
                </label>
                <label for="">
                    <span>Password Confirmation</span>
                    <input type="text" name="" placeholder="Password Confirmation" id="">
                </label>
                <label class="agree-terms-checkbox" for="">
                    <input type="checkbox" name="" placeholder="Password Confirmation" id="">
                    <span>I agree to the terms and conditions</span>
                </label>  
                <div class="register-login-btn-container">
                   <div class="btn-container">
                     <button type="submit">Register</button>
                   </div>
                    <div class="login-link-container">
                        <a href="#">Login</a>
                    </div>
                </div>              
            </form>
        </section>
    </main>
</body>
</html>